/*Smartphones*/
.header {
    background-color: springgreen;
    width: 100%;
    margin: 0 auto;
    padding: 2px 0;
}

.topH1 {
    color: white;
    margin: 0 0 0 10px;
    text-align: left;
}

.signInSection {
  margin: 0 10px 2px 0; 
  text-align: right;
}

#signInText {
  color: blue;
}

#signInText:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*Tablets*/
@media screen and (min-width: 769px) and (max-width: 992px) {
   
}

/*Medium*/
@media screen and (min-width: 993px) and (max-width: 1200px) {
   
}

/*Large*/
@media screen and (min-width: 1201px) {
    
}