/*Smartphones*/
.ratingBar {
    background-color: springgreen;
    width: 100%;
    margin: 0 auto;
    min-width: 450px;
}

.ratingH1 {
    color: black;
    margin: 0;
}

/*Tablets*/
@media screen and (min-width: 769px) and (max-width: 992px) {
    .ratingBar {
        width: 60%;
    }
}

/*Medium*/
@media screen and (min-width: 993px) and (max-width: 1200px) {
    .ratingBar {
        width: 60%;
    }
}

/*Large*/
@media screen and (min-width: 1201px) {
    .ratingBar {
        width: 40%;
    }
}